@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared styles */
header,
main {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.displayFlex {
    display: flex;
    gap: 50px;
}

.backgroundImg {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.btnPrimary {
    padding: 15px 60px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    background-color: #FEA301;
    color: #FFFFFF;
}

.btnSecondary {
    padding: 17px 47px;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    background-color: #111111;
    color: #FFFFFF;
}

.textColorBlue {
    color: #64C8FF;
}

.textColorOrange {
    color: #F0AA00;
}

.textColorPurple {
    color: #8700FF;
}

.colorOrange {
    color: #FEA301;
}

.colorSkyBlue {
    color: #01ACFD;
}

.colorVividSkyBlue {
    color: #05D4DF;
}

.colorBlueViolet {
    color: #5D58EF;
}

#backgroundBlue {
    background-color: #5D58F0;
}

.nav,
.navTitle,
.studentEmpower {
    justify-content: space-between;
    align-items: center;
}

/* Navigation related styles */
.navTitle .title {
    font-size: 2rem;
    font-weight: bold;
}

.navTitle img {
    width: 62px;
    height: 62px;
}

.navItems p {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Nav style ended */

/* Student empowerment related styles started */
.empowerContent .empowerTitle {
    font-size: 3.5rem;
    font-weight: bold;
}

.empowerContent .empowerDescription {
    font-size: 1.25rem;
    font-weight: normal;
}

/* Student empowerment related styles ended */


/* Standard curriculum style started */
#standardCurriculum {
    text-align: center;

}

.curriculumCart {
    position: relative;
    z-index: 1;
}

.curriculumCarts {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 28px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
}

.curriculumCart {
    padding: 50px 40px;
    flex: 1;
}

.standardCurriculumTitle,
.ourStoriesTitle {
    font-size: 3rem;
    font-weight: bold;
}


.curriculumCart h3,
.storiesMainImg h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 32px;
}

.curriculumCart .cartDescription,
.storiesMainImg .imgDescription {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 32px;
    color: #808080;
    line-height: 2;
}

.readMore a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.cartShadow1 {
    border: 1px solid rgba(222, 245, 255, 1);
    border-radius: 19px;
    box-shadow: inset 0 80px 50px rgba(222, 245, 255, 1);
}

.cartShadow2 {
    border: 1px solid rgba(255, 244, 220, 1);
    border-radius: 19px;
    box-shadow: inset 0 80px 50px rgba(255, 244, 220, 1);
}

.cartShadow3 {
    border: 1px solid rgba(242, 232, 255, 1);
    border-radius: 19px;
    box-shadow: inset 0 80px 50px rgba(242, 232, 255, 1);
}

.rotateNextPageIcon {
    rotate: 180deg;
}

/* Standard curriculum style ended */


/* Our stories part started */
.ourStories {
    text-align: center;
    background-color: #f7dba9;
}

.ourStoriesTitle {
    margin-top: 120px;
}

.storiesMainImg {
    max-width: 540px;
    max-height: 660px;
    text-align: left;
}

.storiesSideImages {
    max-height: 670px;
}

.storiesSideImg {
    max-width: 290px;
}

.viewAllbtn {
    margin: 80px 0px 60px 0px;
}

.ourStoriesImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;

}

.storiesMainImg,
.storiesSideImg {
    background-color: #FFFFFF;
    border-radius: 18px;
}

.storiesSideImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.storiesMainImg img,
.storiesSideImg img {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.storiesMainImg h3 {
    padding: 0px 38px;
}

.storiesMainImg .imgDescription {
    padding: 5px 68px 35px 45px;
}

.firstBtn {
    background-color: #3CD8E8;
    padding: 14px 18px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border-style: none;
    border-radius: 48px;
    transform: translate(25px, -26px);
}

.sideImgBtn {
    background-color: #95B226;
    padding: 9px 18px;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border-style: none;
    border-radius: 48px;
    transform: translate(-15px, -25px);
}

/* Our stories part ended */